  body {
    background-color: #F5F5F5;
    color: #40514E;
  }
  hr {
    /* background-color: white; */
    /* border: none; */
    border-color: #40514E;
    /* border-style: dotted none none none; */
    border-width: 1px;
    height: 0;
    width: 100%;
  }
  h1 {
    color: #40514E;
  }
  h3 {
    color: #30E3CA;
  }
  a:hover {
    color: orange;
  }
  .profile-picture {
    border-radius: 100%;
  }
  .work {
    max-width: 60%;
    padding: 10px;

  }
  .colRole {
    text-align: left;
    width: 25%;
  }
  .colYears {
    text-align: left;
    width: 15%;
  }
  .colResponsibilities {
    text-align: left;
    width: 60%;
  }
  .skills {
    padding: 10px;
  }
  .tdYears {
    vertical-align: top;
  }
