  body {
    background-color: #CEDDEF;
  }
  hr {
    /* background-color: white; */
    /* border: none; */
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    height: 0;
    width: 5%;
  }
